* {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: url('img/ChatGPT\ Image\ May\ 11\,\ 2025\,\ 07_18_47\ PM.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -50px;
    color: #fff;
    padding: 5px 20px;
    text-align: center;
    height: 125vh;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}

header h1 span {
    color: #f8b400;
}

.nav-links {
    list-style-type: none;
    margin-left: -7%;
    padding: 0;
}

.nav-links li {
    display: inline;
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: all 0.3s ease;
}

.nav-links a:hover { 
    color: #f8b400;
}

.rent-now {
    background-color: #f8b400;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
}

.rent-now:hover {
    background-color: #ce9700;
}

.hero-section h1 {
    font-size: 4em;
    margin: 0;
}

.hero-section p {
    font-size: 1.2em;
    margin-bottom: 40px;
}

.hero-section {
    margin-top: 14%;
    padding: 0 15%;
}

/* about section */
#about {
    padding: 30px 50px;
    text-align: center;
}

.features {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.feature-item {
    flex: 1;
    padding: 10px 20px;
    text-align: center;
    margin: 15px 20px 30px;
    background-color: #e8e8e8;
    border-radius: 15px;
}

.feature-item p {
    text-align: justify;
}

/* product section */
#products {
    padding: 45px;
    text-align: center;
    background-color: lch(16.86% 30.04 53.95);
}

.product-slider {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.product-item {
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    transition: all 0.3s ease;
    cursor: pointer;
}

.product-item:hover {
    transform: translateY(-5px);
    background-color: #f1f1f1;
}

.product-item img {
    max-width: 100%;
    border-radius: 10px;
}

/* testimonial section */
#testimonials {
    padding: 30px 50px 50px;
    text-align: center;
    background-color: #f5f5f5;
}

.testimonial-item {
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* location section */
#location {
    padding: 30px 50px 60px;
    text-align: center;
    background-color: lch(100% 0.01 296.81);
    color: white;
}

.map {
    margin-top: 20px;
}

/* contact section */
#contact {
    background-color:lch(16.86% 30.04 53.95);
    color: white;
    padding: 40px 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container h2{
    /* font-size: 27px; */
    text-align: center;
    margin-bottom: 30px;
}

.form-container {
    margin-left: 31px;
}

form label {
    /* font-size: 20px; */
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 2px;
}

form input {
    /* display: block; */
    margin: 10px 0 20px 0;
    /* padding: 10px; */
    width: 100%; 
    max-width: 600px; 
    height: 50px;
    background-color: #263545;
    border-radius: 5px;
    border: 1px solid white;
    padding: 0 15px;
    color: white;
    font-size: 14px;
    transition: all 0.3s ease;
}

form input:hover {
    background-color: #2c3e50;
}

form button {
    background-color: #ffffff;
    color: #263545;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid transparent;
    transition: all 0.3s ease;
}

form button:hover {
    background-color: #263545;
    color: white;
    border: 1px solid white;
}

/* footer section */
footer {
    background-color:  lch(16.86% 30.04 53.95);
    color: white;
    padding: 30px 50px 30px;
    text-align: center;
}

.join-us {
    margin-bottom: 60px;
}

.join-now {
    background-color: #f8b400;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.footer-info {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}

.company-info p {
    margin: 5px 0;
    text-align: left;
}

.footer-info .company-info {
    margin-top: 10px;
}

.footer-links ul {
    list-style-type: none;
    padding: 0;
}

.footer-links ul li {
    margin: 0 0 5px;
}

.footer-links ul li a {
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
}

.footer-links ul li a:hover {
    color: #f8b400;
}

.footer-bottom {
    margin-top: 30px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
}

.close {
    float: right;
    font-size: 1.5em;
    cursor: pointer;
}